:root {
    --Scissors-Gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --Paper-Gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --Rock-Gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --Lizard-Gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --Cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
    --Radial-Gradient: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    --White: #fff;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: var(--Radial-Gradient);
    height: calc(100vh - 2em);
    color: var(--White);
}

.wrapper {
    max-width: 1000px;
    margin-inline: auto;
}

.board {
    margin-top: 2em;
    padding: 2em;
    border: 3px solid var(--Header-Outline);
    border-radius: 1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board__box {
    background: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .6em 3.5em;
    border-radius: 1em;
}
.box__score {
    color: var(--Score-Text);
    font-size: 1rem;
    font-weight: 500;
}
.box__num {
    color: var(--Dark-Text);
    font-size: 5rem;
}


/* buttons start */

.buttons {
    margin-top: 7em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    margin-inline: auto;
    gap: 3em;
}

.btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn--game {
    background: var(--White);
    padding: 3em;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__btn {
    /* height: 50px; */
    object-fit: cover;
}
.btn--rock {
    border: 20px solid red;
}
.btn--paper {
    border: 20px solid blue;
}
.btn--scissor{
    border: 20px solid yellow;
}

.rules__btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.btn--rules {
    text-transform: uppercase;
    color: var(--White);
    font-size: 1.4rem;
    border: 2px solid var(--White);
    padding: .4em 1.8em;
    border-radius: .4em;
}

/* buttons end */

/* scoreboard start */
.scoreboard {
    display: flex;
    margin-top: 7em;
    justify-content: center;
    gap: 3em;
    align-items: center;
}
.scoreboard__result {
    text-align: center;
}
.result__result {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: .3em;
}
.btn__result {
    background: var(--White);
    color: var(--Dark-Text);
    padding: 1em 2em;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: .8em;
}
/* scoreboard end */
